.mainLayout {
  display: flex;
  height: 100vh;
}

.contentContainer {
  flex: 1; 
  display: flex;
  flex-direction: column; 
}

.updatePasswordLayout {
  display: flex; /* This ensures that children are arranged in a line */
  justify-content: start; /* Align children to the start of the flex container */
  gap: 20px; /*Provide some space between the Sidebar and the content*/
  height: 100vh; /* This ensures that the layout container also spans the entire height */
}

.updatePasswordContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.updatePasswordTitle {
  margin-bottom: 20px;
}

.updatePasswordButton {
  margin-top: 20px;
}
